@font-face {
  font-family: "LXGW WenKai Screen";
  src: url("/fonts/lxgw/lxgwwenkaiscreen.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("/fonts/lxgw/lxgwwenkaiscreen.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
