@font-face {
  font-family: "LXGW WenKai Screen";
  src:
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.subset.woff2") format("woff2"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.woff") format("woff"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai Screen";
  src:
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.subset.woff2") format("woff2"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.woff") format("woff"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai";
  src:
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.subset.woff2") format("woff2"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.woff") format("woff"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai";
  src:
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.subset.woff2") format("woff2"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.woff") format("woff"),
    url("/fonts/lxgw/LXGWWenKaiLite-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
